PORT=""
DATABASE_URL=""
GOOGLE_CLIENT_ID=""
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
FRONTEND_URL=""
GROQ_API_KEY=your_groq_key_here
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret